.photoImg {
  height: 100px;
  width: 100%;
  object-fit: cover;
}


.error {
  transform: scaleX(1);
  border-bottom-color: red;
  color: red;
  font-size: 12px;
}

.groups {
  color: #47445a;
}

.textAvatarWrapper {
  display: flex;
  align-items: center;
}

.mainPageWrapper {
  margin-top: 8rem;
  position: relative;
}

.addGroupFab {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.ImageAvatar {
  float: left;
  margin-top: 4vh;
}

.groupItem {
  width: 50px;
  margin-top: 1rem;
}

.userGroupAvatar {
  margin-right: 1rem;
}

.userGroupWrapper {
  position: absolute;
  left: 3rem;
}

.singleGroupWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}


@media (max-width: 1200px) {
  .mainPageWrapper {
    display: flex;
    justify-content: space-around;
  }

  .singleGroupWrapper {
    position: relative;
    left: auto;
    transform: none;
    flex: 3;
    padding-right: 2rem;
  }
  .userGroupWrapper {
    position: relative;
    left: auto;
    width: auto;
    flex: 1;
  }
}

.addUserToGroupWrapper {
  position: absolute;
  right: 20px;
  margin-right: 70px;
  color: #47445a;
  z-index: 10;
}

.userList {
  width: 250px;
  float: right;
  margin-right: 45px;
  margin-top: 80px;
  color: #47445a;
}

.users {
  float: right;
  position: relative;
  width: auto;
}

@media (max-width: 768px) {
  .addUserToGroupWrapper {
    display: none;
  }

  .userList {
    display: none;
  }

  .userGroupWrapper {
    display: none;
  }

  .singleGroupWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .addGroupFab {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
