.photoImg {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.topBar{
  height: 10%;
  width: 100%;
  background-color: #47445a;
  margin-top: 0px;
}

.button {
  position: absolute;
  bottom: 70px;
  right: 50px;
  }

.title{
  color: #FFFFFF;
  font-size: 40px;
  margin-left: 40px;
}

.error{
  transform: scaleX(1);
  border-bottom-color: red;
  color: red;
  font-size: 12px;
}

.groups{
  color: #47445a;
  margin-top: 5%;
  margin-left: 5%;
}


