.photoImg {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.error {
  transform: scaleX(1);
  border-bottom-color: red;
  color: red;
  font-size: 12px;
}

.postName{
  float: left;
  width: 90%;
  position: relative;
}

.attachment{
  margin-top: 10px;
  width: 20px;
  float: right;
  margin-right: 16px;
}

.files{
  padding-top: 60px;
  justify-content: center;
}