.loginCard {
  display: flex;
  width: 1200px;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.img {
  flex: 1;
  height: 100%;
  width: 550px;
}

.loginWrapper {
  flex: 1;
  padding: 3rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.subtitle {
  color: var(--secondary-text-color);
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: .5rem;
}

.titleWrapper {
  text-align: center;
}

.buttonWrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.rememberWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .75rem;
  margin-top: .9rem;
}

.button {
  width: 150px;
  padding: .5rem 0;
}


@media (max-width: 900px) {
  .img {
    display: none;
  }

  .loginCard {
    width: 90%;
  }

  .loginWrapper {
    padding: 3rem;
  }
}

@media (max-width: 600px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 90px;
  }

  .button {
    width: 100%;
    margin-top: 1rem;
  }
}
