.post {

}

.postHeaderWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.imageAvatar {
  padding: 1rem;
  border-radius: 50%;

  & > img {
    border-radius: 50%;
  }
}

.postCreatedInfo {
  & > * {
    font-size: 0.9rem;
    color: #43425D;
  }
}

.createdByHeader {
  font-weight: 700;
  margin: 0;
}

.createdAtHeader {
  font-weight: 200;
  margin: 0;
}

.postWrapper {
  margin-top: 1rem;
}

.postText {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 40px;
}

.commentForm{
  margin: 20px;
}

.download{
  cursor: pointer;
  position: absolute !important;
  right: 30px;
}
