.title{
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 40px;
  font-weight: 300;
}

.topBar{
  width: 100%;
  background-color: #47445a;
  margin-top: 0;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 72px;
}

.rightPart {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.children {
  margin-top: 72px;
}

.menuButton{
  color: #ffffff !important;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
}

.notificationButton{
  margin-right: 15px;
}
