
.accountWrapper{
  display: flex;
  width: 1200px;
  height: 80vh;
  position: absolute;
  margin-top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar{
  margin-top: 3%;
  text-align: center;
  height: 150px;
}

.date{
  font-size: large;
  margin-top: 10%;
  text-align: left;

}

.letterAvatar{
  height: 100px !important;
  width: 100px !important;
  font-size: 6vh !important;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.account{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.firstName{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.lastName{}

.label{
  margin-top: 10%;
  margin-right: 5px;
  float: left;
}

.TextField{
  text-align: right;
  margin-left: 10%;
}

