.registerCard {
  display: flex;
  width: 1200px;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.img {
  flex: 1;
  height: 100%;
  width: 580px;
}

.registerWrapper {
  flex: 1;
  padding: 3rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
     transform: scaleX(1);
     border-bottom-color: red;
     color: red;
     font-size: 12px;
   }

.title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.subtitle {
  color: var(--secondary-text-color);
  opacity: 0.5;
}

.fullName{
  width: 100%;
  margin-bottom: 12px;
}

.fullName1{
  width: 47%;
  float: left;
}

.fullName2{
  width: 47%;
  float: right;
}

.form {
  display: flex;
  flex-direction: column;
  width: 150%;
  margin-top: .5rem;

}

.titleWrapper {
  text-align: center;
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.signIn{
  font-size: 12px;
  margin-top: 2rem;
  text-align: center;
}

.conditionsWrapper {
  display: flex;
  font-size: .75rem;
  margin-top: 1.1rem;
}

.checkbox{
  margin-right: 3%;
}

.button {
  width: 150px;
  padding: .5rem 0;
}


@media (max-width: 900px) {
  .img {
    display: none;
  }

  .registerCard {
    width: 90%;
  }

  .registerWrapper {
    padding: 3rem;
  }
}

@media (max-width: 600px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 90px;
  }

  .button {
    width: 100%;
    margin-top: 1rem;
  }
}
